.env
.vscode/settings.json
cogs/games/__pycache__/games.cpython-311.pyc
cogs/games/subcogs/__pycache__/__init__.cpython-311.pyc
cogs/games/subcogs/__pycache__/truth_or_dare.cpython-311.pyc
cogs/games/subcogs/components/__pycache__/ToD_Questions.cpython-311.pyc
cogs/games/subcogs/components/__pycache__/truth_or_dare_questions.cpython-311.pyc
cogs/music/__pycache__/music.cpython-311.pyc
cogs/music/components/__pycache__/vocaloid_scraper.cpython-311.pyc
cogs/reddit/__pycache__/reddit.cpython-311.pyc
cogs/reddit/data/timestamp_log.json
cogs/reddit/data/timestamp_queue.json
cogs/reddit/data/timestamp_report.json
