.env
.vscode/settings.json
cogs/games/__pycache__/games.cpython-311.pyc
cogs/games/subcogs/__pycache__/__init__.cpython-311.pyc
cogs/games/subcogs/__pycache__/truth_or_dare.cpython-311.pyc
cogs/games/subcogs/components/__pycache__/ToD_Questions.cpython-311.pyc
cogs/games/subcogs/components/__pycache__/truth_or_dare_questions.cpython-311.pyc
cogs/music/__pycache__/music.cpython-311.pyc
cogs/music/components/__pycache__/vocaloid_scraper.cpython-311.pyc
cogs/reddit/__pycache__/reddit.cpython-311.pyc
cogs/reddit/data/timestamp_log.json
cogs/reddit/data/timestamp_queue.json
cogs/reddit/data/timestamp_report.json
cogs/music/subcogs/__pycache__/__init__.cpython-311.pyc
cogs/music/subcogs/__pycache__/lyrics.cpython-311.pyc
cogs/music/subcogs/components/__pycache__/vocaloid_scraper.cpython-311.pyc
cogs/reddit/subcogs/__pycache__/__init__.cpython-311.pyc
cogs/reddit/subcogs/__pycache__/rss_feed.cpython-311.pyc
cogs/reddit/subcogs/data/timestamp_log.json
cogs/reddit/subcogs/data/timestamp_queue.json
cogs/reddit/subcogs/data/timestamp_report.json
cogs/music/subcogs/lyrics/__pycache__/lyrics.cpython-311.pyc
cogs/music/subcogs/lyrics/components/__pycache__/vocaloid_scraper.cpython-311.pyc
cogs/audio/subcogs/tts/__pycache__/tts.cpython-311.pyc
cogs/audio/subcogs/tts/__pycache__/voices.cpython-311.pyc
cogs/audio/subcogs/music/components/__pycache__/vocaloid_scraper.cpython-311.pyc
cogs/audio/subcogs/music/__pycache__/lyrics.cpython-311.pyc
cogs/audio/subcogs/__pycache__/__init__.cpython-311.pyc
cogs/audio/subcogs/__pycache__/lyrics.cpython-311.pyc
cogs/audio/__pycache__/audio.cpython-311.pyc
cogs/audio/__pycache__/music.cpython-311.pyc
cogs/audio/subcogs/tts/components/__pycache__/aivoice.cpython-311.pyc
cogs/audio/subcogs/tts/components/__pycache__/en2ja.cpython-311.pyc
cogs/audio/subcogs/tts/components/__pycache__/helper_funcs.cpython-311.pyc
cogs/audio/subcogs/tts/components/__pycache__/voicevox.cpython-311.pyc
cogs/games/subcogs/components/__pycache__/press_the_button_logic.cpython-311.pyc
cogs/games/subcogs/__pycache__/press_the_button.cpython-311.pyc
cogs/games/subcogs/__pycache__/ptb.cpython-311.pyc
cogs/games/subcogs/__pycache__/tod.cpython-311.pyc
cogs/games/subcogs/__pycache__/wyr.cpython-311.pyc
cogs/games/subcogs/components/__pycache__/ptb_logic.cpython-311.pyc
